<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Parkmas Scoring Guide" }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="title-bar">

        <div class="title-left">
            <a href="https://www.k0iro.com">Iowa Radio Operators | K0IRO</a>
        </div>

        <div class="title-right">
            <a href="/">Home</a>
            <a href="/upload">Upload</a>
            <a href="/leaders">Leaders</a>
        {% if session.get('user') %}
            
            {% if session.get('user_is_admin') %}
                <a href="/admin">Admin</a>
            {% endif %}

            <a href="/logout">Logout</a>
        {% else %}
            
        {% endif %}
        </div>

    </div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>